
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color:  #F6F1F1;
    min-height: 100vh;
  
}

nav{
    height: 60px;
    width: 100%;
    background-color: #146C94;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F6F1F1;
    position: sticky;
    top: 0;
}

#nav-bar {
    list-style-type: none;
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#nav-bar li{
    height: 100%;
    flex: 1;
    font-size: 1.2em;
}

a:hover{
    background-color: #F6F1F1;;
    color: #146C94;
    scale: 1.1;
}
a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo{
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.5em;
    cursor: pointer;
}

#logo:hover{
    background-color: #F6F1F1;
    color: #146C94;
}
a{
    text-decoration: none;
    color: #F6F1F1;
}




/* ABOUT */

#About {
    display: flex;
    height: 100vh;
    align-items: center;
}

#image{
    width: 50%;
    text-align: center;
    font-size: 4em;
}


#info{
font-family: 'Courier New', Courier, monospace;
width: 50%;
font-size: 1.25em;
text-align: center;
padding: 15px;
line-height: 2em;
word-spacing: 0.5;
}



#Sub{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#Subjects{
    padding-top: 60px;
    text-align: center;
}

#Subjects > p{
    position: sticky;
    top:70px;
    margin-top: 10px;
    height: 50px;
    color: black;
    font-size: 2.4em;
    font-weight: 500;
    background-color: #AFD3E2;
}

.cards{
    height: 350px;
    width: 300px;
    padding: 20px;
    margin: 20px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #dde9ee95;
}

.cards p{
    width: 315px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}

/* SKILLS */

#Hobbies {
    min-height: 100vh;
    padding-top: 60px;
}

#Hobbies> p{
    position: sticky;
    top: 70px;
    text-align: center;
    margin-top: 10px;
    height: 50px;
    color: black;
    font-size: 2.4em;
    font-weight: 500;
    background-color: #AFD3E2;
}

.hobby-cards {
        padding: 200px 100px;
        font-size: 2em;
}

.hobby-cards>ul>li{
    margin: 20px;
}


/* Contact */
#contact {
    min-height: 100vh;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}


#contact > p{
    top: 70px;
    position: sticky;

    margin-top: 10px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 39px;
    font-weight: 500;
    background-color: #AFD3E2;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
}

input{
    margin-top: 10px;
}

#submit{
    height: 40px;
    background-color: #146C94;
    color:#F6F1F1;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

footer{
    background-color: black;
    color: white
}
footer p {
    display: flex;
    justify-content:center;
}